@page "/"
@using EventHubOrganiser.Services.Interfaces
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@rendermode InteractiveServer

<div class="d-flex justify-content-center align-items-center">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
    <span class="ml-2">Loading...</span>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(500); // Add a small delay to ensure the loading indicator is visible
            await CheckAuthenticationAsync();
        }
    }

    private async Task CheckAuthenticationAsync()
    {
        if (await AuthService.IsAuthenticatedAsync())
        {
            NavigationManager.NavigateTo("/home");
        }
        else
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}
